FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/AlumnoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://alumno.services.sis.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlumnoWS" targetNamespace="http://alumno.services.sis.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/AlumnoWS?xsd=1" namespace="http://sisprog.com/model" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/AlumnoWS?xsd=2" namespace="http://alumno.services.sis.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerAlumnoPorId">
    <part name="parameters" element="tns:obtenerAlumnoPorId" />
  </message>
  <message name="obtenerAlumnoPorIdResponse">
    <part name="parameters" element="tns:obtenerAlumnoPorIdResponse" />
  </message>
  <message name="listarAlumnosTodos">
    <part name="parameters" element="tns:listarAlumnosTodos" />
  </message>
  <message name="listarAlumnosTodosResponse">
    <part name="parameters" element="tns:listarAlumnosTodosResponse" />
  </message>
  <message name="buscarAlumnos">
    <part name="parameters" element="tns:buscarAlumnos" />
  </message>
  <message name="buscarAlumnosResponse">
    <part name="parameters" element="tns:buscarAlumnosResponse" />
  </message>
  <message name="modificarAlumno">
    <part name="parameters" element="tns:modificarAlumno" />
  </message>
  <message name="modificarAlumnoResponse">
    <part name="parameters" element="tns:modificarAlumnoResponse" />
  </message>
  <message name="eliminarAlumnoPorId">
    <part name="parameters" element="tns:eliminarAlumnoPorId" />
  </message>
  <message name="eliminarAlumnoPorIdResponse">
    <part name="parameters" element="tns:eliminarAlumnoPorIdResponse" />
  </message>
  <message name="consultarMatriculas">
    <part name="parameters" element="tns:consultarMatriculas" />
  </message>
  <message name="consultarMatriculasResponse">
    <part name="parameters" element="tns:consultarMatriculasResponse" />
  </message>
  <message name="insertarAlumno">
    <part name="parameters" element="tns:insertarAlumno" />
  </message>
  <message name="insertarAlumnoResponse">
    <part name="parameters" element="tns:insertarAlumnoResponse" />
  </message>
  <portType name="AlumnoWS">
    <operation name="obtenerAlumnoPorId">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/obtenerAlumnoPorIdRequest" message="tns:obtenerAlumnoPorId" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/obtenerAlumnoPorIdResponse" message="tns:obtenerAlumnoPorIdResponse" />
    </operation>
    <operation name="listarAlumnosTodos">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/listarAlumnosTodosRequest" message="tns:listarAlumnosTodos" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/listarAlumnosTodosResponse" message="tns:listarAlumnosTodosResponse" />
    </operation>
    <operation name="buscarAlumnos">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/buscarAlumnosRequest" message="tns:buscarAlumnos" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/buscarAlumnosResponse" message="tns:buscarAlumnosResponse" />
    </operation>
    <operation name="modificarAlumno">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/modificarAlumnoRequest" message="tns:modificarAlumno" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/modificarAlumnoResponse" message="tns:modificarAlumnoResponse" />
    </operation>
    <operation name="eliminarAlumnoPorId">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/eliminarAlumnoPorIdRequest" message="tns:eliminarAlumnoPorId" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/eliminarAlumnoPorIdResponse" message="tns:eliminarAlumnoPorIdResponse" />
    </operation>
    <operation name="consultarMatriculas">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/consultarMatriculasRequest" message="tns:consultarMatriculas" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/consultarMatriculasResponse" message="tns:consultarMatriculasResponse" />
    </operation>
    <operation name="insertarAlumno">
      <input wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/insertarAlumnoRequest" message="tns:insertarAlumno" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/AlumnoWS/insertarAlumnoResponse" message="tns:insertarAlumnoResponse" />
    </operation>
  </portType>
  <binding name="AlumnoWSPortBinding" type="tns:AlumnoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerAlumnoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarAlumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlumnoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarMatriculas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlumnoWS">
    <port name="AlumnoWSPort" binding="tns:AlumnoWSPortBinding">
      <soap:address location="http://localhost:8080/SisProgWS/AlumnoWS" />
    </port>
  </service>
</definitions>