FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/AlumnoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alumno.services.sis.edu.pe/" xmlns:ns1="http://sisprog.com/model" targetNamespace="http://alumno.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SisProgWS/AlumnoWS?xsd=1" namespace="http://sisprog.com/model" />
  <xs:element name="buscarAlumnos" type="tns:buscarAlumnos" />
  <xs:element name="buscarAlumnosResponse" type="tns:buscarAlumnosResponse" />
  <xs:element name="consultarMatriculas" type="tns:consultarMatriculas" />
  <xs:element name="consultarMatriculasResponse" type="tns:consultarMatriculasResponse" />
  <xs:element name="eliminarAlumnoPorId" type="tns:eliminarAlumnoPorId" />
  <xs:element name="eliminarAlumnoPorIdResponse" type="tns:eliminarAlumnoPorIdResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="listarAlumnosTodos" type="tns:listarAlumnosTodos" />
  <xs:element name="listarAlumnosTodosResponse" type="tns:listarAlumnosTodosResponse" />
  <xs:element name="modificarAlumno" type="tns:modificarAlumno" />
  <xs:element name="modificarAlumnoResponse" type="tns:modificarAlumnoResponse" />
  <xs:element name="obtenerAlumnoPorId" type="tns:obtenerAlumnoPorId" />
  <xs:element name="obtenerAlumnoPorIdResponse" type="tns:obtenerAlumnoPorIdResponse" />
  <xs:complexType name="buscarAlumnos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idFamilia" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMatriculas">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMatriculasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAlumnoPorId">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAlumnoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumnosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoPorId">
    <xs:sequence>
      <xs:element name="idAlumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>