FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/CargoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://usuario.services.sis.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CargoWS" targetNamespace="http://usuario.services.sis.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/CargoWS?xsd=1" namespace="http://usuario.services.sis.edu.pe/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/CargoWS?xsd=2" namespace="http://sisprog.com/model" />
    </xsd:schema>
  </types>
  <message name="modificarCargo">
    <part name="parameters" element="tns:modificarCargo" />
  </message>
  <message name="modificarCargoResponse">
    <part name="parameters" element="tns:modificarCargoResponse" />
  </message>
  <message name="insertarCargo">
    <part name="parameters" element="tns:insertarCargo" />
  </message>
  <message name="insertarCargoResponse">
    <part name="parameters" element="tns:insertarCargoResponse" />
  </message>
  <message name="eliminarCargoPorId">
    <part name="parameters" element="tns:eliminarCargoPorId" />
  </message>
  <message name="eliminarCargoPorIdResponse">
    <part name="parameters" element="tns:eliminarCargoPorIdResponse" />
  </message>
  <message name="listarCargosTodos">
    <part name="parameters" element="tns:listarCargosTodos" />
  </message>
  <message name="listarCargosTodosResponse">
    <part name="parameters" element="tns:listarCargosTodosResponse" />
  </message>
  <message name="obtenerCargoPorId">
    <part name="parameters" element="tns:obtenerCargoPorId" />
  </message>
  <message name="obtenerCargoPorIdResponse">
    <part name="parameters" element="tns:obtenerCargoPorIdResponse" />
  </message>
  <portType name="CargoWS">
    <operation name="modificarCargo">
      <input wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/modificarCargoRequest" message="tns:modificarCargo" />
      <output wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/modificarCargoResponse" message="tns:modificarCargoResponse" />
    </operation>
    <operation name="insertarCargo">
      <input wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/insertarCargoRequest" message="tns:insertarCargo" />
      <output wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/insertarCargoResponse" message="tns:insertarCargoResponse" />
    </operation>
    <operation name="eliminarCargoPorId">
      <input wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/eliminarCargoPorIdRequest" message="tns:eliminarCargoPorId" />
      <output wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/eliminarCargoPorIdResponse" message="tns:eliminarCargoPorIdResponse" />
    </operation>
    <operation name="listarCargosTodos">
      <input wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/listarCargosTodosRequest" message="tns:listarCargosTodos" />
      <output wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/listarCargosTodosResponse" message="tns:listarCargosTodosResponse" />
    </operation>
    <operation name="obtenerCargoPorId">
      <input wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/obtenerCargoPorIdRequest" message="tns:obtenerCargoPorId" />
      <output wsam:Action="http://usuario.services.sis.edu.pe/CargoWS/obtenerCargoPorIdResponse" message="tns:obtenerCargoPorIdResponse" />
    </operation>
  </portType>
  <binding name="CargoWSPortBinding" type="tns:CargoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarCargo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCargo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCargoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCargosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCargoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CargoWS">
    <port name="CargoWSPort" binding="tns:CargoWSPortBinding">
      <soap:address location="http://localhost:8080/SisProgWS/CargoWS" />
    </port>
  </service>
</definitions>