FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gracademico.services.sis.edu.pe/" xmlns:ns1="http://sisprog.com/model" targetNamespace="http://gracademico.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SisProgWS/CursoWS?xsd=1" namespace="http://sisprog.com/model" />
  <xs:element name="eliminarCursoPorId" type="tns:eliminarCursoPorId" />
  <xs:element name="eliminarCursoPorIdResponse" type="tns:eliminarCursoPorIdResponse" />
  <xs:element name="insertarCurso" type="tns:insertarCurso" />
  <xs:element name="insertarCursoResponse" type="tns:insertarCursoResponse" />
  <xs:element name="listarCursosPorNombreAbreviaturaOGradoAcademico" type="tns:listarCursosPorNombreAbreviaturaOGradoAcademico" />
  <xs:element name="listarCursosPorNombreAbreviaturaOGradoAcademicoResponse" type="tns:listarCursosPorNombreAbreviaturaOGradoAcademicoResponse" />
  <xs:element name="listarCursosTodos" type="tns:listarCursosTodos" />
  <xs:element name="listarCursosTodosResponse" type="tns:listarCursosTodosResponse" />
  <xs:element name="modificarCurso" type="tns:modificarCurso" />
  <xs:element name="modificarCursoResponse" type="tns:modificarCursoResponse" />
  <xs:element name="obtenerCursoPorId" type="tns:obtenerCursoPorId" />
  <xs:element name="obtenerCursoPorIdResponse" type="tns:obtenerCursoPorIdResponse" />
  <xs:complexType name="modificarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="ns1:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="ns1:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCursoPorId">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCursoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorNombreAbreviaturaOGradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="abreviatura" type="xs:string" />
      <xs:element minOccurs="0" name="nombreGrado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorNombreAbreviaturaOGradoAcademicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoPorId">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>