FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/FamiliaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alumno.services.sis.edu.pe/" xmlns:ns1="http://sisprog.com/model" targetNamespace="http://alumno.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SisProgWS/FamiliaWS?xsd=1" namespace="http://sisprog.com/model" />
  <xs:element name="ObtenerHijos" type="tns:ObtenerHijos" />
  <xs:element name="ObtenerHijosResponse" type="tns:ObtenerHijosResponse" />
  <xs:element name="buscarFamilia" type="tns:buscarFamilia" />
  <xs:element name="buscarFamiliaResponse" type="tns:buscarFamiliaResponse" />
  <xs:element name="eliminarFamiliaPorId" type="tns:eliminarFamiliaPorId" />
  <xs:element name="eliminarFamiliaPorIdResponse" type="tns:eliminarFamiliaPorIdResponse" />
  <xs:element name="insertarFamilia" type="tns:insertarFamilia" />
  <xs:element name="insertarFamiliaResponse" type="tns:insertarFamiliaResponse" />
  <xs:element name="listarFamiliasTodas" type="tns:listarFamiliasTodas" />
  <xs:element name="listarFamiliasTodasResponse" type="tns:listarFamiliasTodasResponse" />
  <xs:element name="modificarFamilia" type="tns:modificarFamilia" />
  <xs:element name="modificarFamiliaResponse" type="tns:modificarFamiliaResponse" />
  <xs:element name="obtenerFamiliaPorId" type="tns:obtenerFamiliaPorId" />
  <xs:element name="obtenerFamiliaPorIdResponse" type="tns:obtenerFamiliaPorIdResponse" />
  <xs:complexType name="obtenerFamiliaPorId">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFamiliaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFamiliaPorId">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFamiliaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHijos">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHijosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="familia" type="ns1:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFamiliaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFamiliasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarFamiliasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="familia" type="ns1:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFamiliaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>