FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/FamiliaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://alumno.services.sis.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="FamiliaWS" targetNamespace="http://alumno.services.sis.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/FamiliaWS?xsd=1" namespace="http://sisprog.com/model" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/FamiliaWS?xsd=2" namespace="http://alumno.services.sis.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="ObtenerHijos">
    <part name="parameters" element="tns:ObtenerHijos" />
  </message>
  <message name="ObtenerHijosResponse">
    <part name="parameters" element="tns:ObtenerHijosResponse" />
  </message>
  <message name="modificarFamilia">
    <part name="parameters" element="tns:modificarFamilia" />
  </message>
  <message name="modificarFamiliaResponse">
    <part name="parameters" element="tns:modificarFamiliaResponse" />
  </message>
  <message name="insertarFamilia">
    <part name="parameters" element="tns:insertarFamilia" />
  </message>
  <message name="insertarFamiliaResponse">
    <part name="parameters" element="tns:insertarFamiliaResponse" />
  </message>
  <message name="eliminarFamiliaPorId">
    <part name="parameters" element="tns:eliminarFamiliaPorId" />
  </message>
  <message name="eliminarFamiliaPorIdResponse">
    <part name="parameters" element="tns:eliminarFamiliaPorIdResponse" />
  </message>
  <message name="buscarFamilia">
    <part name="parameters" element="tns:buscarFamilia" />
  </message>
  <message name="buscarFamiliaResponse">
    <part name="parameters" element="tns:buscarFamiliaResponse" />
  </message>
  <message name="obtenerFamiliaPorId">
    <part name="parameters" element="tns:obtenerFamiliaPorId" />
  </message>
  <message name="obtenerFamiliaPorIdResponse">
    <part name="parameters" element="tns:obtenerFamiliaPorIdResponse" />
  </message>
  <message name="listarFamiliasTodas">
    <part name="parameters" element="tns:listarFamiliasTodas" />
  </message>
  <message name="listarFamiliasTodasResponse">
    <part name="parameters" element="tns:listarFamiliasTodasResponse" />
  </message>
  <portType name="FamiliaWS">
    <operation name="ObtenerHijos">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/ObtenerHijosRequest" message="tns:ObtenerHijos" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/ObtenerHijosResponse" message="tns:ObtenerHijosResponse" />
    </operation>
    <operation name="modificarFamilia">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/modificarFamiliaRequest" message="tns:modificarFamilia" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/modificarFamiliaResponse" message="tns:modificarFamiliaResponse" />
    </operation>
    <operation name="insertarFamilia">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/insertarFamiliaRequest" message="tns:insertarFamilia" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/insertarFamiliaResponse" message="tns:insertarFamiliaResponse" />
    </operation>
    <operation name="eliminarFamiliaPorId">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/eliminarFamiliaPorIdRequest" message="tns:eliminarFamiliaPorId" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/eliminarFamiliaPorIdResponse" message="tns:eliminarFamiliaPorIdResponse" />
    </operation>
    <operation name="buscarFamilia">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/buscarFamiliaRequest" message="tns:buscarFamilia" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/buscarFamiliaResponse" message="tns:buscarFamiliaResponse" />
    </operation>
    <operation name="obtenerFamiliaPorId">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/obtenerFamiliaPorIdRequest" message="tns:obtenerFamiliaPorId" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/obtenerFamiliaPorIdResponse" message="tns:obtenerFamiliaPorIdResponse" />
    </operation>
    <operation name="listarFamiliasTodas">
      <input wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/listarFamiliasTodasRequest" message="tns:listarFamiliasTodas" />
      <output wsam:Action="http://alumno.services.sis.edu.pe/FamiliaWS/listarFamiliasTodasResponse" message="tns:listarFamiliasTodasResponse" />
    </operation>
  </portType>
  <binding name="FamiliaWSPortBinding" type="tns:FamiliaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ObtenerHijos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarFamiliaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerFamiliaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarFamiliasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FamiliaWS">
    <port name="FamiliaWSPort" binding="tns:FamiliaWSPortBinding">
      <soap:address location="http://localhost:8080/SisProgWS/FamiliaWS" />
    </port>
  </service>
</definitions>