FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/MatriculaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://matricula.services.sis.edu.pe/" xmlns:ns1="http://sisprog.com/model" targetNamespace="http://matricula.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SisProgWS/MatriculaWS?xsd=1" namespace="http://sisprog.com/model" />
  <xs:element name="eliminarMatriculaPorId" type="tns:eliminarMatriculaPorId" />
  <xs:element name="eliminarMatriculaPorIdResponse" type="tns:eliminarMatriculaPorIdResponse" />
  <xs:element name="insertarMatricula" type="tns:insertarMatricula" />
  <xs:element name="insertarMatriculaResponse" type="tns:insertarMatriculaResponse" />
  <xs:element name="listarMatriculasPorFamiliaIdPaternoMaternoNombre" type="tns:listarMatriculasPorFamiliaIdPaternoMaternoNombre" />
  <xs:element name="listarMatriculasPorFamiliaIdPaternoMaternoNombreResponse" type="tns:listarMatriculasPorFamiliaIdPaternoMaternoNombreResponse" />
  <xs:element name="listarMatriculasTodas" type="tns:listarMatriculasTodas" />
  <xs:element name="listarMatriculasTodasResponse" type="tns:listarMatriculasTodasResponse" />
  <xs:element name="listarPeriodoXAulasParaAsignarMatriculas" type="tns:listarPeriodoXAulasParaAsignarMatriculas" />
  <xs:element name="listarPeriodoXAulasParaAsignarMatriculasResponse" type="tns:listarPeriodoXAulasParaAsignarMatriculasResponse" />
  <xs:element name="modificarMatricula" type="tns:modificarMatricula" />
  <xs:element name="modificarMatriculaResponse" type="tns:modificarMatriculaResponse" />
  <xs:element name="obtenerMatriculaPorId" type="tns:obtenerMatriculaPorId" />
  <xs:element name="obtenerMatriculaPorIdResponse" type="tns:obtenerMatriculaPorIdResponse" />
  <xs:element name="registrarMatriculaConVacantes" type="tns:registrarMatriculaConVacantes" />
  <xs:element name="registrarMatriculaConVacantesResponse" type="tns:registrarMatriculaConVacantesResponse" />
  <xs:complexType name="modificarMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMatriculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriculasPorFamiliaIdPaternoMaternoNombre">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="dni" type="xs:int" />
      <xs:element name="anho" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriculasPorFamiliaIdPaternoMaternoNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMatriculaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMatriculasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMatriculasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMatriculaPorId">
    <xs:sequence>
      <xs:element name="idMatricula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMatriculaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMatriculaConVacantes">
    <xs:sequence>
      <xs:element name="alumno_id" type="xs:int" />
      <xs:element name="aula_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrarMatriculaConVacantesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPeriodoXAulasParaAsignarMatriculas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPeriodoXAulasParaAsignarMatriculasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMatriculaPorId">
    <xs:sequence>
      <xs:element name="idMatricula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerMatriculaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:matricula" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>