FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/MatriculaWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sisprog.com/model" targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="matricula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element name="matricula_id" type="xs:int" />
      <xs:element minOccurs="0" name="periodo_Aula" type="tns:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element name="alumno_id" type="xs:int" />
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="padres" type="tns:familia" />
      <xs:element name="pension_base" type="xs:double" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="familia_id" type="xs:int" />
      <xs:element minOccurs="0" name="numero_telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodoXAula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodoAcademico" />
      <xs:element name="periodo_aula_id" type="xs:int" />
      <xs:element name="vacantes_disponibles" type="xs:int" />
      <xs:element name="vacantes_ocupadas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="aula_id" type="xs:int" />
      <xs:element minOccurs="0" name="grado" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviatura" type="xs:string" />
      <xs:element name="activo" type="xs:int" />
      <xs:element name="grado_academico_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodoAcademico">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="periodo_academico_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>