FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/PagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sisprog.com/model" targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pago">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="deuda" type="tns:deuda" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="medio" type="tns:medioPago" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element name="pago_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deuda">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="concepto_deuda" type="tns:tipoDeuda" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="descuento" type="xs:double" />
      <xs:element name="deuda_id" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_vencimiento" type="xs:dateTime" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element name="alumno_id" type="xs:int" />
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="padres" type="tns:familia" />
      <xs:element name="pension_base" type="xs:double" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="familia_id" type="xs:int" />
      <xs:element minOccurs="0" name="numero_telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeuda">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_tipo_deuda" type="xs:int" />
      <xs:element name="monto_general" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="medioPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EFECTIVO" />
      <xs:enumeration value="TARJETA" />
      <xs:enumeration value="TRANSFERENCIA" />
      <xs:enumeration value="DEPOSITO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>