FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/PeriodoXAulaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://matricula.services.sis.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PeriodoXAulaWS" targetNamespace="http://matricula.services.sis.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/PeriodoXAulaWS?xsd=1" namespace="http://sisprog.com/model" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SisProgWS/PeriodoXAulaWS?xsd=2" namespace="http://matricula.services.sis.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarPeriodoXAula">
    <part name="parameters" element="tns:modificarPeriodoXAula" />
  </message>
  <message name="modificarPeriodoXAulaResponse">
    <part name="parameters" element="tns:modificarPeriodoXAulaResponse" />
  </message>
  <message name="eliminarPeriodoXAulaPorId">
    <part name="parameters" element="tns:eliminarPeriodoXAulaPorId" />
  </message>
  <message name="eliminarPeriodoXAulaPorIdResponse">
    <part name="parameters" element="tns:eliminarPeriodoXAulaPorIdResponse" />
  </message>
  <message name="listarPeriodosXAulasTodos">
    <part name="parameters" element="tns:listarPeriodosXAulasTodos" />
  </message>
  <message name="listarPeriodosXAulasTodosResponse">
    <part name="parameters" element="tns:listarPeriodosXAulasTodosResponse" />
  </message>
  <message name="obtenerPeriodoXAulaPorId">
    <part name="parameters" element="tns:obtenerPeriodoXAulaPorId" />
  </message>
  <message name="obtenerPeriodoXAulaPorIdResponse">
    <part name="parameters" element="tns:obtenerPeriodoXAulaPorIdResponse" />
  </message>
  <message name="insertarPeriodoXAula">
    <part name="parameters" element="tns:insertarPeriodoXAula" />
  </message>
  <message name="insertarPeriodoXAulaResponse">
    <part name="parameters" element="tns:insertarPeriodoXAulaResponse" />
  </message>
  <portType name="PeriodoXAulaWS">
    <operation name="modificarPeriodoXAula">
      <input wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/modificarPeriodoXAulaRequest" message="tns:modificarPeriodoXAula" />
      <output wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/modificarPeriodoXAulaResponse" message="tns:modificarPeriodoXAulaResponse" />
    </operation>
    <operation name="eliminarPeriodoXAulaPorId">
      <input wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/eliminarPeriodoXAulaPorIdRequest" message="tns:eliminarPeriodoXAulaPorId" />
      <output wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/eliminarPeriodoXAulaPorIdResponse" message="tns:eliminarPeriodoXAulaPorIdResponse" />
    </operation>
    <operation name="listarPeriodosXAulasTodos">
      <input wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/listarPeriodosXAulasTodosRequest" message="tns:listarPeriodosXAulasTodos" />
      <output wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/listarPeriodosXAulasTodosResponse" message="tns:listarPeriodosXAulasTodosResponse" />
    </operation>
    <operation name="obtenerPeriodoXAulaPorId">
      <input wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/obtenerPeriodoXAulaPorIdRequest" message="tns:obtenerPeriodoXAulaPorId" />
      <output wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/obtenerPeriodoXAulaPorIdResponse" message="tns:obtenerPeriodoXAulaPorIdResponse" />
    </operation>
    <operation name="insertarPeriodoXAula">
      <input wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/insertarPeriodoXAulaRequest" message="tns:insertarPeriodoXAula" />
      <output wsam:Action="http://matricula.services.sis.edu.pe/PeriodoXAulaWS/insertarPeriodoXAulaResponse" message="tns:insertarPeriodoXAulaResponse" />
    </operation>
  </portType>
  <binding name="PeriodoXAulaWSPortBinding" type="tns:PeriodoXAulaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPeriodoXAula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPeriodoXAulaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeriodosXAulasTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPeriodoXAulaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPeriodoXAula">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PeriodoXAulaWS">
    <port name="PeriodoXAulaWSPort" binding="tns:PeriodoXAulaWSPortBinding">
      <soap:address location="http://localhost:8080/SisProgWS/PeriodoXAulaWS" />
    </port>
  </service>
</definitions>