FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/PeriodoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="periodoAcademico">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="periodo_academico_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>