FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/PersonalWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sisprog.com/model" targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="personal">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="cargo" type="tns:cargo" />
      <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_Contratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fin_fecha_Contratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="personal_id" type="xs:int" />
      <xs:element name="salario" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contrato" type="tns:tipoContrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element name="cargo_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoContrato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMPLETO" />
      <xs:enumeration value="PARCIAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>