FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/TipoDeudaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tipoDeuda">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_tipo_deuda" type="xs:int" />
      <xs:element name="monto_general" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>