FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/TipoDeudaWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://deuda.services.sis.edu.pe/" xmlns:ns1="http://sisprog.com/model" targetNamespace="http://deuda.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SisProgWS/TipoDeudaWS?xsd=1" namespace="http://sisprog.com/model" />
  <xs:element name="eliminarTipoDeudaPorId" type="tns:eliminarTipoDeudaPorId" />
  <xs:element name="eliminarTipoDeudaPorIdResponse" type="tns:eliminarTipoDeudaPorIdResponse" />
  <xs:element name="insertarTipoDeuda" type="tns:insertarTipoDeuda" />
  <xs:element name="insertarTipoDeudaResponse" type="tns:insertarTipoDeudaResponse" />
  <xs:element name="listarTiposDeudaTodos" type="tns:listarTiposDeudaTodos" />
  <xs:element name="listarTiposDeudaTodosResponse" type="tns:listarTiposDeudaTodosResponse" />
  <xs:element name="modificarTipoDeuda" type="tns:modificarTipoDeuda" />
  <xs:element name="modificarTipoDeudaResponse" type="tns:modificarTipoDeudaResponse" />
  <xs:element name="obtenerTipoDeudaPorId" type="tns:obtenerTipoDeudaPorId" />
  <xs:element name="obtenerTipoDeudaPorIdResponse" type="tns:obtenerTipoDeudaPorIdResponse" />
  <xs:complexType name="modificarTipoDeuda">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDeuda" type="ns1:tipoDeuda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTipoDeudaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTipoDeudaPorId">
    <xs:sequence>
      <xs:element name="idTipoDeuda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTipoDeudaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:tipoDeuda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoDeuda">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDeuda" type="ns1:tipoDeuda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoDeudaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTiposDeudaTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTiposDeudaTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:tipoDeuda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoDeudaPorId">
    <xs:sequence>
      <xs:element name="idTipoDeuda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoDeudaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>