FrontTA/FrontTA/FrontTA_18-11-2025/FrontTA/FrontTA/Connected Services/SisProgWS/UsuarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sisprog.com/model" targetNamespace="http://sisprog.com/model" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="iteracion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="salt" type="xs:string" />
      <xs:element minOccurs="0" name="ultimo_acceso" type="xs:dateTime" />
      <xs:element name="usuario_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIRECTOR" />
      <xs:enumeration value="PERSONAL_ADMINISTRATIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>